.btnWrapper button {
    background-color: red;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    box-shadow: #333 0px 1px 5px;
}

.cartWrapper {
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
    margin-left: 10%;
}

.imgWrapper img {
    width: 100px;
    margin-top: -10px;
}

.item{
    /* float: left; */
    display: inline-block;
    width: 120px;
    padding: 20px;
    height: 70px;
}

.addToCart img{
    width: 80px;
    position: absolute;
    right: 1%;
    top: 1%; 
}

.cartCount {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
    background-color: red;
    padding: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
}